.menu {
  list-style: none;
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #fff;
  max-width: 19rem;
  padding-left: 0.3rem;
}

.menu.mobile {
  margin: auto;
}
.menu.mobile a{
  font-size: 26px;
}

.menu.mobile li {
  padding-top: 1rem;
}

