.side-drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 13%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: block;
  }
  @media screen and (max-width: 768px){
    .side-drawer {
      width: 100%;
    }
  }
  
  .side-drawer.open {
    transform: translateX(0);
    margin: auto;
  }
  
  .side-drawer a {
    font-size: 20px;
    margin: 2rem 0;
  }

  