@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

html {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display';
}

body {
  margin: 0;
  font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1600 - 300)));
}

p {
  line-height: 1.7rem;
}