.active {
color: #0073e9;
}

.sub-menu a {
 display: none;
 padding: .35rem 0;
}

.active + .sub-menu a {
display: block;
}

.sub-menu .active {
display: block;
}

.sub-menu .active + a{
display: block;

}

a + .sub-menu .active {
display: block;
 }

a {
text-decoration: none;
}

ul.sub-menu {
padding: .2rem 0;
font-size: 20px; 
}

a:hover {
color: #0073e9;
}
