
 .sub-menu a {
    display: none;
    padding: .25rem 0;
   }
   
   .active + .sub-menu a {
   display: block;
   }
   
   .sub-menu .active {
   display: block;
   }
   
    .sub-menu .active  ~ a {
   display: block;
   z-index: 100;
   }
   
   a + .sub-menu .active {
   display: block;
    }
   
   ul .sub-menu {
   padding: 0 0 0 0.2rem ;
   display: flex;
   flex-direction: column;
   }  

   ul li ul:last-child { order: -1}

 
/* .sub-menu .active {
    position: relative;
}

.sub-menu .active a::before{
    position: absolute;
}

.sub-menu  > .active ~ a:before{
    display:block;
  } */


/* .sub-menu a {
display: none;
padding: .06rem 0;
color: #76767a;
font-size: 1rem;
}

.sub-menu a:hover {
    color: #0073e9;
}

.active + .sub-menu a {
display: block;
}

 .sub-menu .active {
display: block;
color: #0073e9;
} 


ul .sub-menu {
padding: 0 0 0 0.2rem ;
} 

.sub-menu {
pointer-events:none;
}

.sub-menu a {
pointer-events: auto;
display: flex;
direction: ltr;
} */

/* .sub-menu .active ~ a{
display: block;
}
 */

/*  Solution A: All the menu is shown  */

/* .sub-menu a {
display: none;
padding: .06rem 0;
color: #76767a;
font-size: 1rem;
}

.sub-menu a:hover {
    color: #0073e9;
}

.active + .sub-menu a {
display: none;
}

 .sub-menu .active {
display: block;
color: #0073e9;
} 


ul .sub-menu {
padding: 0 0 0 0.2rem ;
} 

.sub-menu {
pointer-events:none;
}

.sub-menu a {
pointer-events: auto;
display: flex;
}

.sub-menu .active ~ a{
display: block;
}
 */
