.carousel-container {
  position: relative;
  display: flex;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    flex-direction: column;
    position: relative;
  }
}

.active {
  color: #0073e9;
}

.inactive {
  color: #767676;
}

.carousel-selector {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 120px 0 40px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .carousel-selector {
    flex-direction: row;
    justify-content: center;
    margin: 0 1rem;
  }
}

.selector-item {
  margin: 30px 0 20px;
  padding-right: 50px;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .selector-item {
    font-size: 1rem;
    margin: 1rem;
    padding: 0 0 0.3rem;
  }
}
.selector-item:hover {
  cursor: pointer;
}
.selector-item.active {
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px 2px;
}
@media screen and (max-width: 768px) {
  .selector-item.active {
    background-position: bottom;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item {
    padding: 0 1rem;
  }
}

.carousel-item h2 {
  font-size: calc(30px + (63 - 30) * ((100vw - 300px) / (1600 - 300)));
  margin: 0 0 25px;
  line-height: 2.5rem;
  font-family: "Playfair Display";
}
@media screen and (max-width: 768px) {
  .carousel-item h2 {
    margin-bottom: 0.5rem;
  }
}

.carousel-item p {
  color: #212026;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: 3rem 0 0;
  max-width: 42rem;
}
@media screen and (max-width: 768px) {
  .carousel-item p {
    margin: 1.3rem 0 0;
    max-width: 100%;
    font-size: 0.95rem;
  }
}

.carousel-item .button-link {
  margin-top: 1.5rem;
}

.carousel-link {
  border: 1px solid #0073e9;
  border-radius: 3px;
  color: #0073e9;
  display: inline-block;
  font-size: 0.95rem;
  letter-spacing: 0.2rem;
  margin-top: 40px;
  padding: 0.7rem 2.2rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .carousel-link {
    padding: 0.5rem 1rem;
  }
}
