.button-link {
    border: 1px solid #0073e9;
    border-radius: 3px;
    color: #0073e9;
    display: inline-block;
    font-size: .9rem;
    letter-spacing: .08rem;
    padding: .6rem 1.3rem;
    text-decoration: none;
    text-transform: uppercase; }
    .button-link.carousel-item-button {
      padding: 1rem 5rem; }
    @media screen and (max-width: 768px) {
      .button-link {
        padding: .5rem 1rem; } }
  